#root {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    line-height: 1;
    border-bottom: 2px solid #eee;
    margin-bottom: 2rem;
}

header > * {
    display: flex;
    align-items: center;
}
header > * > * {
    margin: 0;
}
header > * > * + * {
    margin-left: 1rem;
}

header h1 {
    text-transform: uppercase;
}

header a {
    text-transform: uppercase;
    color: #5593b2;
}

header .active {
    color: #6c737a;
    font-weight: bold;
    text-decoration: none;
}

section {
    overflow: hidden;
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    margin: 0 .5rem;
    padding: .3rem .6rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 76%;
    border: 1px solid #000;
    color: #000;
}

table {
    border-collapse: collapse;
    max-width: 100%;
}

th, td {
    text-align: left;
    padding: .3rem;
}

input:not(disabled), select:not(disabled) {
    border: none;
    padding: 0 1rem;
    background-color: aliceblue;
    height: 2rem;
    box-sizing: border-box;
}

input:focus:not(disabled) {
    background-color: #e4ecf3;
    outline: #7f878e solid 1px;
}

button:not(disabled) {
    display: inline-flex;
    align-items: center;
    border: none;
    padding: .4rem 1rem;
    background-color: #6c737a;
    color: #fff;
    height: 2rem;
    cursor: pointer;
}

hr {
    margin: 1rem 0;
    border: none;
    height: 3px;
    background-color: #ccc;
}

[disabled] {
    cursor: wait;
}

.word-wrap {
    word-wrap: break-word;
    word-break: break-all;
}

.big {
    font-size: 180%;
}

.uppercase {
    text-transform: uppercase;
}

.not-allowed {
    cursor: not-allowed;
}

.table {
    display: inline-table;
    border-collapse: collapse;
}

.table td {
    border: none;
    padding: .2rem 1rem;
    text-align: left;
    line-height: 1;
}

.table.list tr:not(.active) button {
    opacity: .1;
}

.table.list tr.active {
    background: rgba(0, 0, 0, .7);
    color: #fff;
}

.table.list tr:not(.active):hover {
    background: rgba(0, 0, 0, .01);
    transform: translateX(.1rem);
}

.table.list tr:hover button {
    opacity: 1;
}

.table tr + tr td {
    border-top: 1px dotted #ccc;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

.align-top {
    vertical-align: top !important;
}

.align-top {
    vertical-align: middle !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

.authorization {
    display: inline-flex;
    flex-direction: column;
}

.logoApp {
    display: flex;
    align-items: center;
}
.logoApp span {
    height: 36px;
    margin-left: .5rem;
}
.nameApp {
    position: relative;
}
.nameApp .version {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    font-size: 60%;
    font-weight: normal;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.panel {
    padding: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
}

.detail {
    border-left: 3px solid #ccc;
    padding-left: 1rem;
    width: 30%;
    flex-shrink: 0;
    box-sizing: border-box
}

.detail h2 {
    margin: 0 0 1rem;
}

.detail h4 {
    opacity: .4;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
}

.modal .dialog {
    position: relative;
    background-color: #fff;
    max-width: 90%;
    min-width: 400px;
}

.dialog .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

.dialog .dialog-header__title {
    flex: 1;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.dialog .dialog-header__close {
    flex-shrink: 0;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    padding: 0;
    font-size: 200%;
}

/* /////////////////CUSTOM/////////////////// */

.form-table {
    width: 100%;
}

.form-table input {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.form-table__label {
    width: 14%;
}

.comments-list {
    margin-bottom: 2rem;
}

.comments-list__item + .comments-list__item {
    margin-top: .4rem;
    padding-top: .4rem;
    border-top: 1px dotted #ccc;
}

.form-comments {
    padding: 1rem;
    background-color: #e1e1e1;
}

.form-comments h5 {
    margin: 0 0 1rem;
    opacity: .4;
}

.form-comments textarea {
    width: 100%;
    resize: vertical;
    height: 100px;
    min-height: 100px;
    border: none;
    box-sizing: border-box;
    padding: .4rem;
}

.form-comments textarea:focus {
    background-color: #e4ecf3;
    outline: #7f878e solid 1px;
}

.topicConfigList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topicConfigList > li {
    display: flex;
    flex-direction: column;
}
.topicConfigList > li + li {
    margin-top: 1rem;
}
.topicConfigList [disabled] {
    cursor: not-allowed;
    opacity: .4;
}

.editInputList {
    padding: 1px;
}

.editInputList input {
    display: block;
    width: 100%;
}

.editInputList input:not(:hover):not(:focus) {
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

.editInputList input.title:not(:hover):not(:focus) {
    font-weight: bold;
    font-size: 130%;
}

.list__row_subList {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list__row_subList > li {
    display: flex;
    align-items: center;
}
.list__row_subList > li > * {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main > * {
    transition: all 600ms;
}
.main > * + * {
    width: 0;
    overflow: hidden;
}

.shift > *:first-child {
    margin-left: -100%;
}
.shift > *:last-child{
    width: 100%;
}

.table_detail_role {
    border-spacing: 6px;
    display: inline-table;
}
.table_detail_role > tbody > tr + tr > td {
    border-top: 6px solid #ccc;
}
.table_detail_role tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .07);
}
.table_detail_role td {
    padding: .3rem .6rem;
}
.table_detail_role table {
    width: 100%;
}
.table_detail_role tr:hover > td {
    color: white;
    background-color: rgba(0, 0, 0, .4);
}
.table_detail_role td nobr {
    display: block;
    white-space: normal;
    word-break: break-all;

}
.table_detail_role td label {
    background-color: black;
    color: white;
    font-size: 65%;
    line-height: 1;
    padding: .2rem .3rem;
    margin: .2rem;
    display: inline-flex;
    align-items: center;
    border-radius: .2rem;
    white-space: nowrap;
}
.table_detail_role td label:after {
    content: '. | \2716';
    cursor: pointer;
}